set autoindent
set casesensitive
set nohelp
set tabsize 2
set tabstospaces


bind ^C copy all
bind ^D findprevious all
bind ^E exit all
bind ^F whereis all
bind ^G findnext all
bind ^H help all
bind ^K cancel all
bind ^L gotoline all
bind ^R replace all
bind ^S savefile all
bind ^V paste all
bind ^X cut all
bind ^Y redo all
bind ^Z undo all # This fails on the Linux terminal before nano 6

bind M-C comment all
bind M-L linenumbers all
bind M-P curpos all
bind M-W whitespacedisplay all

# Alternatives for the Linux terminal
bind M-Y redo all
bind M-Z undo all


include /usr/local/share/nano/asm.nanorc
include /usr/local/share/nano/c.nanorc
include /usr/local/share/nano/nanohelp.nanorc
include /usr/local/share/nano/nanorc.nanorc
include /usr/local/share/nano/python.nanorc
include /usr/local/share/nano/sh.nanorc
